<section class="caja">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'Toledo01.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'Toledo02.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'Toledo06.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'Toledo04.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'Toledo03.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'Toledo05.jpg' %>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
</section>