<section>
  <div class="fotos">
    <% @monumentos.each do |monumento| %>
      <%= image_tag monumento.imagen %>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="titleModal" id="myModalLabel"><%= monumento.nombre %></h4>
            </div>
            <div class= "bodyModal">
              <%= monumento.descripcion %>
              <br/>Tiempo estimado de la visita: <%= monumento.tiempo_visita  %>
              <br/>Precio: <%= monumento.precio_entrada %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="recuadro"></div>
</section>

<section class="boxes">
  <div class="time">Tiempo</div>
  <div class="money">Dinero</div>
</section>


	